body {
	display: flex;
	justify-content: center;
	align-items: center;
}
main {
	position: relative;
}
.bar {
	fill: cornflowerblue;
}
.bar:hover {
	fill: orange;
}
#tooltip {
	z-index: 99;
	position: absolute;
}
